#changelog {
	padding: 2rem;

	p:last-child,
	ul:last-child {
		margin-bottom: 0;
	}
}

.addons #content {
	background: @light-grey;
	
	.box {
		background: #fff;

		&.coming-soon {
			.opacity(60);
		}
	}

	.wrapper {
		text-align: center;
	}
}

// blog and single pages
.blog,
.single {

	.item.left,
	.item.right {	
		span {
			text-transform: uppercase;
			font-size: 0.875rem;
			font-weight: 500;
		}
		
		.button {
			margin: 1rem 0;
		}
	}

}


// .single.single-post,
// .single.single-download

// blog posts, add-ons, documentation
.single {

	.item .post-thumbnail {
		margin: 0 0 2rem 0;
	}

	// .item {
	// 	width: 100%;
	// 	max-width: 585px;
	// 	display: block;
	// 	margin: 0 auto;
	// }

	.item.primary {
		margin-bottom: 2rem;
	}
}


