// about page

.about h2 {
	font-size: 1.5rem;
	font-weight: 500;
	text-align: center;
	margin-bottom: 0;
}

.about-details {
	text-align: center;
}

.about-details a {
	font-size: 1rem;
	display: inline-block;
	margin-bottom: 1rem;
}

img.profile {
	margin: 0 auto 2rem auto;
	display: block;
	border-radius: 100%;
	width: 150px;
}

// .about .item.box {
// 	background: @light-grey;
// }



// pricing

.faqs-new .faq {
	background: @light-grey;
	margin: 0 1rem 2rem;
	border-radius: @border-radius;
    padding: 2rem;

    p:last-child {
        margin-bottom: 0;
    }
}


// EDD checkout
.edd-checkout .site-branding {
    margin: 0 auto;
	padding: 0;
}

// pro add-ons table on account page
#pro-add-ons .subtitle {
	font-size: 1rem;
}

// homepage



.supported-integrations ul {
    margin-bottom: 0;
}



p.intro {
    font-size: 1.4rem;
}

.benefits {
    // background: @light-grey;
}

.detail {
    background: @light-grey;

    img {
        display: block;
    }
}


// screenshots slider


@media only screen and ( max-width: @screen-xs-max ) {

    #logo-text {display: none;}

}
