

// .about .item.box {
// 	background: @light-grey;
// }



// pricing

.faqs-new .faq {
	background: @light-grey;
	margin: 0 1rem 2rem;
	border-radius: @border-radius;
    padding: 2rem;

    p:last-child {
        margin-bottom: 0;
    }
}


// EDD checkout
.edd-checkout .site-branding {
    margin: 0 auto;
	padding: 0;
}

// pro add-ons table on account page
#pro-add-ons .subtitle {
	font-size: 1rem;
}

// homepage



.supported-integrations ul {
    margin-bottom: 0;
}



p.intro {
    font-size: 1.4rem;
}

.benefits {
    // background: @light-grey;
}

.detail {
    background: @light-grey;

    img {
        display: block;
    }
}
