// make the downloads look more card-like
.edd_download {
    background: none;
}

.edd_downloads_list {
	margin-left: -1rem;
	margin-right: -1rem;
}

.edd_downloads_list,
.edd_downloads_list .edd_download_inner {
    border: none;
}

.edd_download_inner {
	padding: 1.5rem;
}

#edd_final_total_wrap {
	font-weight: 600;
	font-size: 1.5rem;
}

.nav-cart-text {
    display: none;
}
