// price options
.edd_price_options {
	li label {
		padding: 0.5rem 0;
		display: block;
		cursor: pointer;
		
		input {
			margin-right: 0.5rem;
		}
	}
}

// add to cart buttons
.edd-add-to-cart,
.edd-submit {
	background: @button-color;
}

// ajax add to cart
.edd-cart-ajax-alert {
	margin-top: 1rem;
	display: block;
}

#edd_checkout_form_wrap label {
	font-size: 1rem;
    font-weight: 400;
}