// simple grid styling for use with the list subpages page template

.grid.with-borders {
    border: 2px solid @light-grey;
    border-right: none;
    border-bottom: none;

    .grid-item-inner {
        border-right: 2px solid @light-grey;
        border-bottom: 2px solid @light-grey;
    }
}


.grid-item,
.edd_download {
    display: -webkit-flex;
    display: flex;
    padding: 0;
}

.grid-item-inner {
    padding: 1.5rem;

}

.edd_download {
	margin-bottom: 2rem;
}

.grid-item-inner,
.edd_download_inner {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
//    margin: 1rem;
}

.edd_download_inner footer,
.grid-item-inner footer {
    margin: auto 0 0;
    font-size: 1rem;
}

.grid-item-inner p {
    font-size: 1rem;
}

.grid-item-title {
    font-size: 1rem;
}

.grid-title a {
    border: none;
}

.grid-item-image {
    margin: 0 0 2rem 0;
}



// overlay
.has-overlay .grid-item-inner {
    position: relative;
    overflow: hidden;
    padding: 0;
    background: #fff;
}






.overlay footer span {
    padding: 1rem 1.5rem;
    display: none;
}

// .grid-item.woocommerce .overlay {
//     a { background: #a46497; }
//     a, p { color: #fff; }
//     footer span { background: darken( #a46497, 5% ); }
// }

.grid-item.gravity-forms .overlay {
    a {
        background: #365666;
    //    box-shadow: 0px 0px 0px 10px darken( #365666, 5% ) inset;
    }

    a, p { color: #fff; }
    footer span { background: darken( #365666, 5% ); }
}

.overlay footer span {
    padding: 1rem 1.5rem;
    display: none;
}




.has-overlay .grid-item-title {
    text-align: center;
    margin-bottom: 0;
}


.has-overlay .overlay footer {
    margin: auto 0 0;
    font-size: 1rem;
    font-weight: 500;
}

.has-overlay .grid-item-title a {
    border-bottom: none;
}

.overlay a {
    position: absolute;
    display: block;

//    padding: 1.5rem;
    padding: 2rem 3rem;
//    left: 0;
    top: 10%;
    opacity: 0;
//    visibility: hidden;
    height: 100%;
    width: 100%;
    background: @light-grey;
    transition: all 0.2s ease-in-out 0s;
    text-align: center;
    border-bottom: none;
    color: @body-text-color;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.has-overlay .grid-item:hover .overlay a {
    top: 0;
    opacity: 0.96;
}

@media only screen and ( min-width: @screen-sm-min ) {
	.grid-item-inner,
	.edd_download_inner {
		margin: 1rem;
	}

	.edd_download {
		margin-bottom: 0;
	}
}


@media only screen and ( min-width: @screen-md-min ) {




    .overlay footer span {
        display: inline-block;
    }

    // .grid-item-inner,
    // .edd_download_inner {
    //   padding: 1.5rem;
    // }

}
