img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

img {
  max-width: 100%; // responsive images
  height:    auto; // keeps the image proportionate 
  border:    none; // weird border bug in ie
}

// box model
* {
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	box-sizing: border-box;
}