section.section.pre-sale-questions {
	padding: 0;

	h4 {
		font-weight: 500;
	}
}

.pricing-chart {
	text-align: justify;
	height: 100%;
	margin-bottom: 2rem;

	li {
		vertical-align: top;
		text-align: center;
		margin-bottom: 2rem;
		font-size: 1.0rem;
		color: darken( @light-grey, 50% );
		border: 10px solid @light-grey;

		.price {
			font-size: 3rem;
			margin-bottom: 2rem;
		}

		div {
			margin-bottom: 1rem;
		}

		a {
			font-size: 1.1rem;
		}

		&.developer {
			border: 8px solid @primary-color;			
			z-index: 1;
			position: relative;
			
			i {
				font-size: 2rem;
			}

			h2 {
    			font-size: 2.5rem;
			}

		}
	}

	.name {

	}
}


#primary .pricing-chart li {
	padding: 2rem;
}

@media all and ( min-width: 840px ) {
	
	.pricing-chart li {
		width: 33%;
		min-height: 21rem;
		position: relative;
		display: inline-block;
		
		&.developer {
			margin: -2rem -1rem;
			width: 36%;
			min-height: 25rem;
		}

	}
}