// wide

.home .wrapper,

.addons .wrapper,
#footer .wrapper {
	max-width: 1220px;
}

// no max-width (full width)

.single.single-download,
.tax-doc_category,
.documentation,
.page.testimonials,
.about.page {
	#content > .wrapper {
	//	max-width: none;
	}
}

.page.account-logged-in {

	#content {
		text-align: center;
	}

	#primary {
		max-width: 980px;
	}
}

// 980px
//.page.account-logged-in,
.page.pricing {

	#content > .wrapper {
		max-width: 980px;
	}
}


// grey headers
.tax-doc_category,
.category,
.blog,
.single-post,
.single-docs,
.page,
.addons,
.single.single-download {
	.entry-header {
		background: @light-grey;
		margin: 0 -2rem 2rem -2rem;
		padding: 4rem;

		h1, h2 {
			margin-bottom: 0;
		}

		.button {
			margin-top: 2rem;
		}
	}

}




.single.single-download {

	// #content > .wrapper {
	// 	max-width: 1220px;
	// }
	#content {
		// padding-left: 0;
		// padding-right: 0;
	}

	.columns-3 {
		max-width: 1220px;
		margin: 0 auto;
	}
}


// 1220
.about,
.page.testimonials {

	#content {
		text-align: center;
	}
	#primary {
		max-width: 1220px;
	}

}

// 585px
.account.account-logged-out,
.affiliates,
.single-docs,
.changelog,
.checkout,
.single-post,
.category,
.page.support,
.page.blog,
.page-template-default {

	#content {
		text-align: center;
	}
	#primary {
		max-width: 585px;
	}

}

//.single,
// .category,
// .page {
// 	#content > .wrapper {
// 		max-width: 585px;
// 	}
// }


#primary {
    margin-bottom: 0;
    width: 100%;
}

#primary,
#secondary {
  text-align: left;
}

#content {
  text-align: justify;
}

// wider areas


.support,
.full-width {
	#content {
		text-align: center;
	}
}



.about,
.account {
	#primary {
		width: 100%;
	}
}

 // nested columns
  .about .columns.about {
    padding: 0;
  }

// .affiliates,
// .account {
// 	#primary {
// 		width: 100%;
// 	}

// 	#content > .wrapper {
// 		max-width: 720px;
// 	}

// }

// // skinny pages


// .category-affiliatewp,
// .slim,
// .blog,
// .checkout,
// .account-logged-out,
// {


// 	#content > .wrapper {
// 		max-width: 585px;
// 	}

// }

.error404 {
	.wrapper {
		text-align: center;
	}
}




@media only screen and ( min-width: 1024px ) {
	
	#primary,
	#secondary {
	  display: inline-block;
	  vertical-align: top;
	  text-align: left;
	}

	#primary {
	//    width: 64.8%;
	}

	#secondary {
	//    width: 29.5%;
	}

}