@import '../themedd/less/config';
@import '../themedd/less/common-imports';

@import 'config';
@import 'custom';

// typography
@import 'typography';

// pricing tables
@import 'pricing';

// homepage styling
@import 'home';

// styles for gravity forms
@import 'gravity-forms';

// styles for pages
@import 'custom-pages';
@import 'pages/add-ons';
@import 'pages/integrations';
@import 'pages/brand-assets';
@import 'pages/testimonials';

@import 'tables';

@import 'footer';

@import 'magnific-popup';
@import 'magnific-custom';

// @import 'flickity';
// @import 'flickity-custom';

@import 'slick';
@import 'slick-theme';
@import 'slick-custom';

@import 'tabs';

@import 'tweets';
@import 'edd';
@import 'chartist';
@import 'call-to-action';
@import 'features';
@import 'navigation';

@import 'grid';

@import 'fonts';
@import 'icons';

.logo {
//	width: auto;
//	max-width: 192px;
}

#logo {
    width: 175px;
}

#logo-mark {
	fill: #E34F43;
}

#logo-text {
	fill: #2D2D2D;
}


.home #logo-mark {
	fill: #fff;
}

.home #logo-text {
	fill: #fff;
}
// forces the logo on the homepage to be white
// .home .site-title svg path {
// 	fill: #fff !important;
// }

.main-navigation a {
//	text-transform: uppercase;
//	font-size: 0.875rem;
//	font-weight: 500;
}

.sub-menu a {
	text-transform: none;
}

// .main-navigation a {
// 	color: #fff;
//
// 	&:hover,
// 	&:active,
// 	&:focus {
// 		color: #fff;
// 	}
// }

#masthead {
	padding-top: 0;
	padding-bottom: 0;
//	background: linear-gradient(343deg, #ED5044 0%, #ed6d62 90%);
}





.home #masthead {
	background: transparent;
	margin: 0 auto;
	border-bottom: none;
}


.site-title span {
	display: none;
}

@keyframes fade {

	0% {
	  opacity: 0;
	}

	100% {
	  opacity: 1;
	}
}



// .flickity-page-dots .dot {
// 	position: relative;
// }
//
// .flickity-page-dots .dot:after {
// 	content: '';
// 	border: 3px solid @secondary-color;
//     -webkit-border-radius: 100%;
// 	border-radius: 100%;
//     height: 30px;
//     width: 30px;
//     position: absolute;
// 	left: 50%;
// 	top: 50%;
// 	margin: -15px 0 0 -15px;
// 	opacity: 0;
// }
//
// .flickity-page-dots .dot.is-selected:after {
// 	-webkit-animation: blip 1s ease-out;
// 	animation: blip 1s ease-out;
//
//     -webkit-animation-iteration-count: 1;
// 	animation-iteration-count: 1;
// }





.site-title {
	font-weight: 500;
	font-size: 1.5rem;
}
