@import 'theme-info';
@import 'reset';
@import 'mixins';
@import 'helpers';
@import 'forms';
@import 'icons';
@import 'fonts';
@import 'navigation';
@import 'structure';
@import 'typography';
@import 'header';
@import 'edd';
@import 'buttons';
@import 'page-templates';
@import 'documentation';
@import 'pricing';
@import 'brand-assets';
@import 'home';
@import 'lists';
@import 'general';
@import 'affiliates';
//@import 'fancybox';

@import 'animation';

@import 'magnific-popup';
@import 'magnific-custom';

@import 'alerts';
@import 'blog';
@import 'flexslider';

// simple notices
@import 'notices';
@import 'plugins';


@import 'columns';
@import 'columns-overrides';
@import 'about';
@import 'gallery';
@import 'addons';
@import 'footer';
@import 'box';
@import 'grid';
@import 'mobile';



@primary-color: #ED6D62;
@accent-color: #e34f43;
@light-grey: #f7f7f7;

@heading-color: #373737;

@body-text-color: #787878;
@breakpoint: 820px;

body, html {
	height: 100%;
}

body {
	font-family: 'Graphik Web', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}


blockquote {
	footer {
		color: @body-text-color;
	}
}

figure {
	margin: 0;
}



.entry-content {
	text-align: left;

	h1, h2 {
		text-align: left;
	}
}

a {
	text-decoration: none;
	color: #E44E44;
}




// masthead
.logo-wrapper {
    text-align: center;
    font-size: 0.1px;
    margin: 0 auto;
    max-width: 1220px;
}


.site-title {
	padding: 1rem 0;
	margin: 0;
    display: inline-block;
    vertical-align: bottom;
}

#main {
	font-size: 1rem;
}





// sidebar
#secondary {
	li a {
		display: block;
    	padding: 0.5rem 0;
	}
}



#masthead {
	background: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	.wrapper {
		padding: 2rem 0;
		position: relative;
	}
}

.home {
	#masthead {
//		background: transparent;
		-webkit-box-shadow: 0 -17px 40px -20px rgba(228, 78, 0, 1) inset;
		-moz-box-shadow: 0 -17px 40px -20px rgba(228, 78, 0, 1) inset;
		box-shadow: 0 -17px 40px -20px rgba( 228, 78, 68, 1 ) inset;
	}

	.site-title a {
		background: url( 'images/logo-home.png' ) no-repeat 0 0;
	}

}




.site-title {
	text-align: left;
	
	a {
		background: url( 'images/logo.png' ) no-repeat 0 0;
		width: 196px;
		height: 32px;
	}

	a, img {
		display: block;
	}

	img {
		margin: 0 auto;
	}
}

#how-it-works {
	background: #e44e44;
	padding: 1rem;
	font-weight: 500;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	position: relative;

	line-height: 1;
	 -webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out;
}

#masthead figure {
    margin: 0 auto;
}





@media only screen and ( min-width: 820px ),
only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px ) {



	h1.intro,
	#masthead figure {
		display: block;
	}



	
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px ) {

	.intro {
		width: 90%;	
	}

}

#site {
	height: 100%;
	word-wrap: break-word;

	// > section:last-of-type {
	// 	padding-bottom: 10rem;
	// }
}


#masthead {
	padding: 1rem;
	-webkit-transition: all 0.2s ease-in-out; 
	-moz-transition: all 0.2s ease-in-out; 
	-o-transition: all 0.2s ease-in-out; 
	transition: all 0.2s ease-in-out; 


	img {
		
		display: block;
	}

	.wrapper {
		text-align: center;
	}

	figure {
		margin: 0;

		img {
			margin: 0 auto;
		}
	}
}

.logo {
	text-indent: -9999px;
}

#content {
	background: #fff;
	position: relative;
//	min-height: 520px;
	padding: 1rem;
	margin: 0 auto;
	text-align: center;
}


.wrapper {
//	max-width: 1220px;
	margin: 0 auto;
}

.sharing {
	//margin-bottom: 2rem;

	.share {
		display: inline-block;
		vertical-align: top;
		padding: 0 0.5rem;
	}
}

#mascot-sad {
	margin: -85px auto 0 auto;
	display: block;
}


.icon-thumbs-up {
	font-size: 4rem;
	bottom: 0;
    color: #A4A2A2;
    font-size: 11rem;
    left: 2%;
    position: absolute;
    -webkit-transition: all 0.5s ease-in-out; 
    -moz-transition: all 0.5s ease-in-out; 
    -o-transition: all 0.5s ease-in-out; 
    transition: all 0.5s ease-in-out; 
}

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    
    .site-title a {
      background-size: 196px 32px;
      background-image: url('images/logo@2x.png');
    }

    .home .site-title a {
    	background-image: url( 'images/logo-home@2x.png' );
    	 background-size: 196px 32px;
    }


}

@media only screen and ( min-width: 1024px ) {

	.site-title {
		padding: 40px 0 0.5rem;
	}

	.logo-wrapper {
		text-align: justify;
	}

	// logo is centered on checkout page
	.checkout .logo-wrapper {
		text-align: center;
	}

	#main {
	    display: inline-block;
	    vertical-align: bottom;
	}

}

@media only screen and ( min-width: 500px ) {

	#content {
		padding: 0 2rem 12rem 2rem;
	}

	.home #masthead {
		padding-bottom: 0;
	}

	#masthead {
		padding: 0 2rem 2rem 2rem;
	}

}