h1, h2 {
	font-family: 'Graphik Web', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
	color: #373737;
	font-weight: 300;
}

h1 {
	margin: 0;
	font-size: 3rem;
//	font-weight: 400;
}

h2 {
	
	font-size: 2rem;
}