body {
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// make the first paragraph unique
.single-download .entry-content div > p:first-child,
.single-post .entry-content > p:first-child {
	font-size: 1.3rem;
	line-height: 1.4;
	margin-top: 1rem;
}

// adjust feature headers
.feature h4 {
//	font-weight: 500;
}

figcaption {
//	font-style: italic;
//	font-weight: 400;
}

h2 a,
h2 a:hover {
	border-bottom: none;
}

// https://helpx.adobe.com/typekit/using/font-events.html
.wf-loading {
	h1, h2, h3, h4, li, span, p:not(.site-title), .button, #site-navigation {
		visibility: hidden;
	}
}

.wf-active, .wf-inactive {
	h1, h2, h3, h4, li, span, p:not(.site-title), .button, #site-navigation {
		visibility: visible;
	}
}


.gform_confirmation_message {
    font-weight: 300;
}

// font-weight: 400
p,
ul,
ol,
dl,
.textwidget,
.subtitle {
	font-weight: 400;
}

// font-weight: 500
.hero .row h1,
h1,
h3,
h4,
h5,
h6,
.mobile-navigation ul,
#site-navigation ul,
.cta-get-started-bottom a,
#pricing-calculator label,
.validation_error,
.gfield_description.validation_message,
section.testimonials .name,
.has-overlay .overlay footer {
	font-weight: 500;
}

// font-weight: 600
.label,
.drag-me,
#edd_final_total_wrap,
.intro strong {
    font-weight: 600;
}

.box.highlight,
.signup {

	h4:first-of-type span {
		font-weight: 700;
	}
}

// pricing

.pricing .currency {
	font-weight: 300;
}

.length {
    font-weight: 400;
}

.pricing .price {
    font-weight: 500;
}

.add-on-clause,
.add-on-value span,
.plus,
.table-option > span {
	font-weight: 600;
}

@media only screen and ( min-width: @screen-sm-min ) {

	.single-post h1 {
		font-size: 3.2rem;
	}

	// make the first paragraph unique
	.single-download .entry-content div > p:first-child,
	.single-post .entry-content > p:first-child {
		font-size: 1.6rem;
	}
}
