@box-color: #e34f43;

// add-ons grid
.add-ons {

	.row {
		margin-left: -1rem;
		margin-right: -1rem;
	}

}

// single download page

.related-add-ons {
	padding: 0;
	margin-top: 2rem;
	background: #fff;
	display: none;

	header h3 {
		margin-bottom: 0;
	}
}


#button-supported-integrations {
	margin-top: 2rem;
}

.single-download .button.download {
	font-size: 1.5rem;
}

.single-download #main {
	background: #fff;
}

.single-download .button {
	background: @secondary-color;
	border-color: @secondary-color;

	&:hover {
		background: darken( @secondary-color, 5% );
		border-color: darken( @secondary-color, 5% );

	}
}

.download-meta a {
	color: @secondary-color;
	border-bottom: none;
}

.single-download .button.outline {
	background: transparent;
	border-width: @border-radius;

	&:hover {
		color: darken( @secondary-color, 5% );
	}
}

ul#third-party-add-ons {
	list-style-type: none;
}

.intro strong {
	font-weight: 800;
}

.add-on {
	border-bottom: 2px solid @light-grey;
	padding-bottom: 2rem;
	margin-bottom: 2rem;

	&:first-child {
		border-top: 2px solid @light-grey;
		padding-top: 2rem;
	}

	h4, p {
		margin-bottom: 0;
	}
}

@media only screen and ( min-width: @screen-sm-min ) {

	.related-add-ons {

		.slider {
			padding-left: 2rem;
			padding-right: 2rem;
		}

	}

}

@media only screen and ( min-width: @screen-md-min ) {

	.single-download #content {
		background: @light-grey;
	}

	.related-add-ons { display: block; }
}

@media only screen and ( min-width: @screen-md-min ) {
	.single-download #main {
		padding: 4rem;
	}
}
