.affiliates-header h1 {
	font-size: 3.5rem;
}

.affiliate-program-highlights {

	img {
		border: 1px solid darken( @light-grey, 3% );
	}

	a.has-image {
		cursor: -webkit-zoom-in;
		cursor: -moz-zoom-in;
		cursor: zoom-in;
		display: block;
	}

	ul {
		list-style-type: none;
		margin: 0;

		li {
			background-image: url(images/svgs/combined/tick.svg);
			background-repeat: no-repeat;
			background-position: 0 12px;
			margin: 0;
			padding: 0.5rem 0 0.5rem 36px;
		}

		p {
			margin-bottom: 0;
		}
	}

	.view-agreement p {
		font-size: 1rem;
		margin-top: 1rem;
		margin-bottom: -2rem;
	}
}

// hide legend on login form
#affwp-login-form legend {
	display: none;
}


.affiliate-area.logged-out .affiliates-header {

	// layer one
	background-color: @secondary-color;
	background-image: url(images/svgs/original/affiliate-bg-2.svg);
	background-position: 0 0;
	background-repeat: repeat;
	background-size: auto 50%;

	animation: animatedBackground 8s linear 2;

	h1,
	span,
	.button.outline.secondary {
		color: #fff;
	}

	// layer two
	.page-header {
		background-image: url(images/svgs/original/affiliate-bg-1.svg);
		background-position: 0 0;
		background-repeat: repeat;
		background-size: auto 50%;
		animation: animatedBackground 16s linear 1;
		padding: 6rem;
	}

	&.can-hover {
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;

		animation-play-state: paused;

		.page-header {
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;

			animation-play-state: paused;
		}

		&:hover {
			animation-play-state: running;

			.page-header {
				animation-play-state: running;
			}
		}
	}
}

@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 0 100%; }
}
