// previous/next paging links

body.single-post #content .content-wrapper,
body.single-post #content .wrapper {
	max-width: 784px;
}

body.blog .page-header .wrapper,
body.single-post #content .page-header .wrapper {
	max-width: 980px;
}

.navigation {
	margin-top: 2rem;
}

.nav-links div {
	margin: 0 0.5rem;
}

.single-post .author-meta {
	display: block;
}

.posted-on a {
	color: darken( @light-grey, 25% );
}

// make these styles only for single blog posts
.hero .page-header {
	position: relative;

	h1 {
		color: #fff;
	}

	.post-thumbnail {
		margin-bottom: 0;
	}
}

.blog-featured .bg {
	padding: 8rem;
	margin-top: 2rem;
}

.author-meta {
	color: lighten( @grid-item-inner-link-color, 30% );
	margin-top: 0.5rem;
}

.hero span {
	color: rgba( 255, 255, 255, 0.6 );
	font-weight: 500;
}

.single-post .twitter-follow-button {
	margin-top: 1rem;
}

.has-featured-icon img {
	width: 100%;
}

.hero.has-image .page-header {
	padding-bottom: 0;
}

.blog-featured img {
	width: 720px;
	display: block;
	margin: 0 auto;
}

// Blog header colors

@yellow: #F1C258;
@blue: #609FD2;

// tutorials
.category-tutorials {

	.grid-item-image.has-featured-icon a,
	.hero {
		background: @yellow;
	}

}

.hero.category-tutorials {
	background: @yellow;
}

.hero.category-news {
	background: @blue;
}

.hero.category-add-ons {
	background: @primary-color;
}

.hero.category-product {
	background: @secondary-color;
}

body.blog .hero.category-tutorials .page-header,
body.blog .hero.category-news .page-header,
body.blog .hero.category-add-ons .page-header,
body.blog .hero.category-product .page-header {
	transition: opacity 0.1s linear;
}

body.blog .hero.category-tutorials:hover .page-header,
body.blog .hero.category-news:hover .page-header,
body.blog .hero.category-add-ons:hover .page-header,
body.blog .hero.category-product:hover .page-header {
	opacity: 0.25;
}

.read-now {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;

	div {
		width: 100%;
		height: 100%;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}

	span {
		background: #fff;
		border: none;
		color: @secondary-color;
		transition: opacity 0.1s linear;
		opacity: 0;

		&:hover {
			background: #fff;
			border: none;
			color: @secondary-color;
		}
	}

	&:hover {
		span {
			opacity: 1;
		}
	}
}

// news
.category-news {

	.grid-item-image.has-featured-icon a,
	.hero {
		background: @blue;
	}

}

// add-ons
.category-add-ons {

	.grid-item-image.has-featured-icon a,
	.hero {
		background: @primary-color;
	}

}

// product
.category-product {

	.grid-item-image.has-featured-icon a,
	.hero {
		background: @secondary-color;
	}

}
