// previous/next paging links

.navigation {
	margin-top: 2rem;
}

.nav-links div {
	margin: 0 0.5rem;
}

// custom blog styling


.single-post .author-meta {
	display: block;
}

.posted-on a {
	color: darken( @light-grey, 25% );
}

// make these styles only for single blog posts
.hero .page-header {
	position: relative;

	h1 {
		color: #fff;
	}

	.post-thumbnail {
		margin-bottom: 0;
	}
}

.blog-featured .bg {
	padding: 8rem;
	margin-top: 2rem;
}

.author-meta {
	color: lighten( @grid-item-inner-link-color, 30% );
	margin-top: 0.5rem;
}

.hero .author-meta {
	color: rgba( 255, 255, 255, 0.6 );
}

.single-post .twitter-follow-button {
	margin-top: 1rem;
}

.has-featured-icon img {
	width: 100%;
}

.hero .page-header.blog-featured {
	padding-bottom: 0;
}

.blog-featured img {
	width: 100%;
	display: block;
}

// Blog header colors

@yellow: #F1C258;
@blue: #609FD2;

// tutorials
.category-tutorials {

	.grid-item-image.has-featured-icon a,
	.hero {
		background: @yellow;
	}

}

// news
.category-news {

	.grid-item-image.has-featured-icon a,
	.hero {
		background: @blue;
	}

}

// add-ons
.category-add-ons {

	.grid-item-image.has-featured-icon a,
	.hero {
		background: @primary-color;
	}

}

// product
.category-product {

	.grid-item-image.has-featured-icon a,
	.hero {
		background: @secondary-color;
	}

}
