.colors .row {
	padding: 0 0.5rem;
}
//

//
// .color div {
// 	min-height: 8rem;
// 	display: -ms-flexbox;
// 	display: -webkit-box;
// 	display: -webkit-flex;
// 	display: flex;
// 	margin: 1rem;
// }
//
.color {
	padding: 0;
}
//
.color p {
	margin-bottom: 0;
	color: #fff;
	padding: 0.5rem 1rem;
}
//

.color-3 p {
//	color: @body-text-color;
}

.color-4 p,
.color-6 p {
	color: @body-text-color;
}

.color-1 div {
	background: #e34f43;
}

.color-2 div {
	background: #ED6D62;
}

.color-3 div {
	background: @secondary-color;
}

.color-4 div {
	background: @light-grey;
}

.color-5 div {
	background: #2D2D2D;
}

.color-6 div {
	background: #fff;
	border: 1px solid @light-grey;
}

.color div {
	min-height: 8rem;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	margin: 1rem;
}
